.italsis h1 {
    padding: 30px 20px;
}

.italsis h1.title-a {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.formcolumn:not(:last-child) {
    margin-right: 5px;
}

/* inputs */

.italsis label>span {
    width: 100%;
    float: none;
    margin-bottom: 10px;
}

.italsis select, .italsis input[type="text"] {
    width: 100%;
}

.menu-company {
    border-top: none !important;
    margin-top: 0px;
    background: #eee;
    height: 100px !important;
    margin-top: -5px;
    margin-bottom: 10px;
}

.menu-company.hide {
    height: 0px !important;
    padding: 0;
}

input, select {
    display: block !important;
    width: 100% !important;
    height: 35px !important;
    padding: .375rem .75rem !important;
    font-size: 1.5rem !important;
    line-height: 1.5 !important;
    color: #495057 !important;
    background-color: #fff !important;
    background-clip: padding-box !important;
    border: 1px solid #ced4da !important;
    border-radius: .25rem !important;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out !important;
    appearance: auto;
    -webkit-appearance: auto;
    -moz-appearance: auto;
}

/* Custom layout */
.grid {
    display: grid;
    grid-gap: 10px;
}

.grid-2 {
    grid-template-columns: 1fr 1fr;
}

.container-custom {
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
    padding: 10px 20px 10px 20px;
    font: 12px Arial, Helvetica, sans-serif;
    border-radius: 5px;
}

.italsis {
    margin-left: initial;
    margin-right: initial;
    max-width: unset;
}

/* listas */ 
.nav-tabs .nav-link.nav-link-a.active, .nav-tabs .nav-item.show .nav-link.nav-link-a {
    color: white;
    background-color: #1B559B;
    border-color: #1B559B;
}