.italsis h1 {
    padding: 30px 20px;
}

label {
    color: #5E5E5E !important;
    font-size: 1em;
}

.italsis h1.title-a {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.formcolumn:not(:last-child) {
    margin-right: 5px;
}

/* inputs */

.italsis label>span {
    width: 100%;
    float: none;
    margin-bottom: 10px;
}

.italsis select, .italsis input[type="text"] {
    width: 100%;
}

.filter {
    margin-bottom: 10px;
}

.filter .filter__input,
.filter .filter__select {
    border-radius: 0 !important;
}

.filter label:first-child, .filter input {
    margin-bottom: 0 !important;
}

.filter__select {
    margin-top: 0px !important;
    background: #eee;
    height: 100px !important;
    margin-bottom: 10px;
}

.filter__select.hide {
    height: 0px !important;
    padding: 0;
}

.filter__input {
    margin: 0 !important;
    width: 95% !important;
    border-right: none !important;
}
.filter__containerInput {
    display: flex;
    flex-wrap: wrap;
}

.iconAppend {
    color: #ced4da;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    border: 1px solid #ced4da;
    border-left: none;
}

/* animacion 360 */
.rotate360 {
    animation-name: rotate360;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes rotate360 {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}

input, select {
    display: block !important;
    width: 100% !important;
    height: 35px !important;
    padding: .375rem .75rem !important;
    font-size: 1.5rem !important;
    line-height: 1.5 !important;
    color: #495057 !important;
    background-color: #fff !important;
    background-clip: padding-box !important;
    border: 1px solid #ced4da !important;
    border-radius: .25rem !important;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out !important;
    appearance: auto;
}

/* Custom layout */
.grid {
    display: grid;
    grid-gap: 10px;
}

.grid-2 {
    grid-template-columns: 1fr 1fr;
}

.container-custom {
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
    padding: 10px 20px 10px 20px;
    font: 12px Arial, Helvetica, sans-serif;
    border-radius: 5px;
}

.italsis {
    margin-left: initial;
    margin-right: initial;
    max-width: unset;
}

/* listas */ 
.nav-tabs .nav-link.nav-link-a.active, .nav-tabs .nav-item.show .nav-link.nav-link-a {
    color: white;
    background-color: #1B559B;
    border-color: #1B559B;
}